<header>
    <div id="header-1">
        <span>
            Summer Sale For All Swin Suits And Free Express Delivery - OFF 50%! <b><a href="#">ShopNow</a></b>
        </span>
    </div>
    <div id="header-2">
        <h1>Exclusive</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav>
        
        <div>
            <form action="/produtos" method="post">
                    <input type="text" placeholder="What are you looking for?" name="produto">
                    <i class="bi bi-search"></i>
    
            </form>
            <i class="bi bi-heart"></i>
            <i class="bi bi-cart3"></i>
        </div>
    </div>
</header>