<main>
    <div>
        <ul>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Toys</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Cell phones</a></li>
            <li><a href="#">Clothes</a></li>
        </ul>
    </div>
    <div>
        <img src="/img/Iphone.png" alt="">
    </div>
</main>