<link rel="stylesheet" href="/css/cart.css">

<%- include("./components/header") %>


<section>
    <p>
        <span>Home</span>
        <span>/</span>
        <span>Cart</span>
    </p>

    <div id="cart">
        <div class="cart-child">
            <p>Product</p>
            <p>Price</p>
            <p>Quantity</p>
            <p>Subtotal</p>
        </div>
        
        <div class="cart-btn">
            <button>Return To Shop</button>
            <button>Update Cart</button>
        </div>
    </div>

</section>