<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>

    <%- include("./components/header") %>
    
    <section>
        <p>
            <span>Home</span>
            <span>/</span>
            <span>Cart</span>
        </p>
    
        <div id="cart">
            <div class="cart-child">
                <div><p>Product</p></div>
                <div><p>Price</p></div>
                <div><p>Quantity</p></div>
                <div><p>Subtotal</p></div>
            </div>

            <div class="cart-child">
                <div><img src="" alt="foto"><p>img e Nome do produto</p></div>
                <div><p>399</p></div>
                <div><input type="number" min="1" value="1"></div>
                <div><p>valor total</p></div>
            </div>
            
            <div class="cart-btn">
                <button>Return To Shop</button>
                <button>Update Cart</button>
            </div>
        </div>
    
    </section>

</body>
</html>