<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/categorias.css">
</head>
<body>

    <section>
        <div id="title">
            <div></div><p>Categories</p>
        </div>
        <h2>Browse By Category</h2>
        <div id="card">
            <a href="#">
                <div class="cards">
                    <i class="bi bi-phone"></i>
                    <p>Phones</p>
                </div>
            </a>
            <a href="#">
                <div class="cards">
                    <i class="bi bi-laptop"></i>
                    <p>Computers</p>
                </div>
            </a>
            <a href="#">
                <div class="cards">
                    <i class="bi bi-smartwatch"></i>
                    <p>Smartwhatch</p>
                </div>
            </a>
            <a href="#">
                <div class="cards">
                    <i class="bi bi-headset"></i>
                    <p>HeadPhones</p>
                </div>
            </a>
            <a href="#">
                <div class="cards">
                    <i class="bi bi-camera"></i>
                    <p>Camera</p>
                </div>
            </a>
        </div>
    </section>
    
</body>
</html>

