<link rel="stylesheet" href="/css/produtos.css">

<%- include ('./components/header')%>



<section>
    <div class="cards"></div>
    <div class="cards"></div>
    <div class="cards"></div>
    <div class="cards"></div>
    <div class="cards"></div>
    <div class="cards"></div>
    <div class="cards"></div>
</section>




 
