<%- include ('./components/header')%>

<h1>Lista de produtos</h1>
<%for (let index = 0; index < produtos[0].length; index++) {%>
    <h5>Nome: <%=produtos[0][index]%></h5>
    <h5>Img: <%=produtos[1][index]%></h5>
    <h5>Valor: <%=produtos[2][index]%></h5>
    <h1>-------------------------------------</h1>
<%}%>
