<link rel="stylesheet" href="/css/produtos.css">

<%- include ('./components/header')%>



<section>
    <div class="cards">
        <div class="img">
            <img src="/img/Iphone.png" alt="">
        </div>
        <div class="descricao">
            <h3>Nome</h3>
            <p>$200.00</p>

        </div>
    </div>
    <div class="cards">
        <div class="img">
            <img src="/img/Iphone.png" alt="">
        </div>
        <div class="descricao">
            <h3>Nome</h3>
            <p>$200.00</p>

        </div>
    </div>
    <div class="cards">
        <div class="img">
            <img src="/img/Iphone.png" alt="">
        </div>
        <div class="descricao">
            <h3>Nome</h3>
            <p>$200.00</p>

        </div>
    </div>
   
</section>




 
