<link rel="stylesheet" href="/css/produtos.css">

<%- include ('./components/header')%>



<section>

    <%for (let index = 0; index < produtos[0].length; index++) {%>

        <div class="cards">

            <div class="img">
                <!-- <img src="/img/foto_site_clima.png" alt=""> -->
                <img src="<%= produtos[2][index] %>" alt="foto do produto">
            </div>

            <div class="card">Add to Cart</div>

            <div class="descricao">
                <h5 class="texto-cortado"><%= produtos[0][index] %></h5>
                <p>$<%= produtos[1][index] %></p>
            </div>

        </div>

    <%}%>
   
</section>




 
