section {
    padding: 3rem 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}
.cards {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.cards .img{
    border: 1px solid;
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .img img{
    width: 230px;
    height: 170px;
}
.cards .addToCartButton{
    background-color: black;
    color: white;
    text-align: center;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    border: none;
}
.cards .descricao{
    flex: 30%;
    padding-top: 10px;
}
.cards .descricao .texto-cortado{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}
.cards .descricao p {
    color: red;
}
