section {
    padding: 3rem 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

#title{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 20px;
    color: var(--red);
    margin-left: 7rem;
}
#title div{
    width: .9rem;
    height: 2.5rem;
    background-color: var(--red);   
    border-radius: 5px; 
}

h2{
    margin: 1.3rem 7rem;
}

.cards {
    height: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.cards .img{
    border: 1px solid;
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .img img{
    width: 230px;
    height: 170px;
}
.cards form{
    height: 40px;
    background-color: red;
    position: relative;
}
.cards .addToCartButton{
    background-color: black; 
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    position: absolute;
    z-index: 1;
}
.cards form div{
   background-color: rgb(0, 0, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   text-align: center;
   z-index: 0;
}
.cards form div img{
    height: 100%;
}
.cards .descricao{
    flex: 30%;
    padding-top: 10px;
}
.cards .descricao .texto-cortado{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}
.cards .descricao p {
    color: red;
}
